################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConvertConsoletoWeb/.vs/ConvertConsoletoWeb
/ConvertConsoletoWeb/ConvertConsoletoWeb/bin/Debug/netcoreapp3.1
/ConvertConsoletoWeb/ConvertConsoletoWeb/obj
